.AutoCmplt {
    width: 35%;
    border: 1px solid gray;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.73);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 2px 4px 1px rgba(0, 0, 0, .18);
    margin: 0 auto;
}
.AutoCmplt input{
    width: 100%;
    border: none;
    font-size: 14px;
    box-sizing: border-box;
    outline: none;
    padding: 10px 5px;
}
.AutoCmplt ul {
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
    border-top: 1px solid grey;
}

.AutoCmplt ul::before {
    content: "";
}
.AutoCmplt li {
    padding: 10px 5px;
    cursor: pointer;
}

.AutoCmplt li:hover{
    text-decoration: underline;
    background-color: rgba(128, 128, 128, 0.20)
}